

ader{
    padding-top: 0px;
}



.navbarcustom{
    background:#0099ff;}
.LI{
	color:white;
}

.LI a:hover{
 
 font-size: 30px;
 font-weight: bod;
}


navbar fixed-bottom navbar-dark bg-dark{
	
	background:#0099ff;
	
	
	
}

img {
  border-radius:50%;
}